#sections{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;

    scroll-snap-type: x mandatory;
}

#sections > div{
    scroll-snap-align: center;
    padding: var(--size-3);
}


body {
    font-family: Helvetica;
    text-align: left; /* Align everything to the left */
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
}

#links {
    margin-bottom: 20px;
}

a {
    margin-right: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

.contentTable li {
    margin-bottom: 10px; /* Add space between list items */
}

.contentTable a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em; /* Increase font size */
}

.contentTable a:hover {
    color: #0056b3;
}

h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

h2{
    width: 85vw;
    word-wrap:break-word;
    color: #007bff;
}

#segment{
    background-color: #bdc3c7; /* Light gray background color */
    color: #7f8c8d; /* Darker text color for better contrast */
    opacity: 0.7; /* Reduced opacity to visually indicate disabled state */
}

label, input, button, p {
    display: block;
    margin-bottom: 10px;
}

input, textarea, button {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    width: 15%
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 40%; /* Set the width of the image to 60% */
    height: auto; /* Maintain the aspect ratio */
    display: inline-block; /* Make it a block-level element to control margins */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add some top margin */
}

.file-container {
    margin-bottom: 20px;
}

.file-container label {
    font-weight: bold;
}

input[type="file"] + label {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0;
}

input[type="file"] + label:hover {
    background-color: #0056b3;
}

span {
    margin-left: 10px;
    font-size: 0.8em;
    color: #666;
}

.range-container {
    margin-bottom: 20px;
}

.range-container label {
    font-weight: bold;
}

input[type="range"] {
    width: calc(40%);
}

#coarseness-value {
    font-size: 1em;
    font-weight: bold;
    color: #007bff;
}

label {
    font-weight: bold;
    font-size: 1.2em; /* Increased font size */
}

.hidden{
    display: none;
    /*background-color: rgb(125, 125, 125);*/
}

.disabledButton{
    background-color: rgb(91, 91, 91);
}

.disabledButton:hover {
    background-color: rgb(125, 125, 125);
}

#status{
    color:#007bff;
}


.file-container {
    position: relative;
}

.tooltip {
    position: absolute;
    display: none;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border-radius: 0.25em;
  }

.file-container label:hover + .tooltip {
    display: block;
}

#downloadSection select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#downloadSection button{
    margin-top: 10px;
}

#parameterSelectors {
    text-align: left; /* Reset text alignment */
}

#parameterSelectors div {
    vertical-align: top; /* Align the divs to the top */
    display: inline-block;
    margin-right: 10px; /* Optional: Add some spacing between the divs */
    text-align: center;
}

#parameterSelectors input{
    display: block; /* Center the input elements within the div */
    margin: 0 auto; /* Center the input elements horizontally */
}

#parameterSelectors label {
    font-weight: bold;
    font-size: 0.8em;
    margin-right: 5px;
}

#parameterSection {
    margin-bottom: 20px; /* Add some bottom margin to create space below the parameterSection */
}

#loading-bar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    margin-top: 50px;
}

#progress-bar {
    height: 100%;
    width:50%;
    background-color: #4caf50;
}

#restartButton{
    background-color: #6a6a6a;
}

#scrollBtns button {
    width: 50px; /* Adjust button width as needed */
    height: 50px; /* Make buttons square */
    margin: 0 5px; /* Adjust margin as needed */
}

#scrollBtns {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    margin-top: 20px; /* Adjust margin as needed */
}

textarea {
    width: 100%;
    height: 200px; /* Adjust as needed */
    overflow-y: scroll;
}

#progContainer{
    width: 35%;
    height: 40px;
    display: inline-block;
    margin-bottom: 20px;
}