body {
    font-family: Helvetica;
    text-align: left; /* Align everything to the left */
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80%;
}



h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2{
    width: 85vw;
    word-wrap:break-word;
    color: #007bff;
}

#segment{
    background-color: #bdc3c7; /* Light gray background color */
    color: #7f8c8d; /* Darker text color for better contrast */
    opacity: 0.7; /* Reduced opacity to visually indicate disabled state */
}

label, input, button, p {
    display: block;
    margin-bottom: 10px;
}

input, textarea, button {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    width: 15%
}

button:hover {
    background-color: #0056b3;
}

img {
    width: 40%; /* Set the width of the image to 60% */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Make it a block-level element to control margins */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add some top margin */
}

.file-container {
    margin-bottom: 20px;
}

.file-container label {
    font-weight: bold;
}

input[type="file"] + label {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0;
}

input[type="file"] + label:hover {
    background-color: #0056b3;
}

span {
    margin-left: 10px;
    font-size: 0.8em;
    color: #666;
}

.range-container {
    margin-bottom: 20px;
}

.range-container label {
    font-weight: bold;
}

input[type="range"] {
    width: calc(40%);
}

#coarseness-value {
    font-size: 1em;
    font-weight: bold;
    color: #007bff;
}

label {
    font-weight: bold;
    font-size: 1.2em; /* Increased font size */
}

.hidden{
    display: none;
}

.disabledButton{
    background-color: rgb(91, 91, 91);
}

.disabledButton:hover {
    background-color: rgb(125, 125, 125);
}

#status{
    color:#007bff;
}


.file-container {
    position: relative;
}

.tooltip {
    position: absolute;
    display: none;
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border-radius: 0.25em;
  }

.file-container label:hover + .tooltip {
    display: block;
}

#downloadSection select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#downloadSection button{
    margin-top: 10px;
}